
@font-face {
  font-family: 'MillerDisplay-RomanBETA';
  src: url('MillerDisplay-RomanBETA.eot?#iefix') format('embedded-opentype'),  url('MillerDisplay-RomanBETA.otf')  format('opentype'),
	     url('MillerDisplay-RomanBETA.woff') format('woff'), url('MillerDisplay-RomanBETA.ttf')  format('truetype'), url('MillerDisplay-RomanBETA.svg#MillerDisplay-RomanBETA') format('svg');
  font-weight: normal;
  font-style: normal;
}
